Redirect iniasdb.github.io/ iniasdb.github.io/index.html
Redirect iniasdb.github.io/rbe2/ iniasdb.github.io/rbe2/home.html
Redirect iniasdb.github.io/sint%20jozef iniasdb.github.io/sint%20jozef/home.html
Redirect iniasdb.github.io/game/ iniasdb.github.io/game/move.html
