:root {
  --bgColor: rgb(42, 42, 42);
  --filterBorderColor: darkslategray;
  --filterBgColor: rgb(64, 95, 95);
  --filterHoverColor: rgb(71, 116, 116);
  --cardBGColor: rgb(59, 59, 59);
}

body {
  background-color: var(--bgColor);
}

.content {
  width: 90%;
  margin: 0 auto;
}

.language {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.language ul {
  padding: 0;
}

.language ul li {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border: 3px solid var(--filterBorderColor);
  background-color: var(--filterBgColor);
  border-style: outset;
  color: white;
}

.language ul li:hover {
  cursor: pointer;
  background-color: var(--filterHoverColor);
}

.projects {
  width: 75%;
  margin: 0 auto;
  overflow: hidden;
}

.project {
  background-size: cover;
  width: 33%;
  margin: 1px;
  overflow: hidden;
  float: left;
  height: 250px;
  animation-play-state: paused;
}

.project:hover img {
  background-image: none;
  opacity: 50%;
  background-color: var(--cardBGColor);
}

.project:hover .project-info {
  visibility: initial;
}

.project .project-info {
  visibility: hidden;
  color: white;
  text-align: center;
  margin-top: 100px;
  position: relative;
  top: -250px;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px (48rem to 64rem)
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .project {
    width: 100%;
    margin-left: 100px;
    margin-bottom: 25px;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .project {
    width: 49%;
    margin-bottom: 25px;
    margin-left: 5px;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px (30.065rem to 47.93rem)
*/

@media (min-width: 481px) and (max-width: 767px) {
  .project {
    margin-left: 75px;
    width: 100%;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 480px (20rem to 30rem)
*/

@media (min-width: 320px) and (max-width: 480px) {
  .projects {
    width: 95%;
  }
  .project {
    width: 100%;
  }
}
